.word_search input:first-child {
   width: 80%;
   display: block;
   margin: 0 auto;
   text-align: center;
}

.word_search {
  text-align: center;
}

body {
  background-color: #97fc9e;
}

.word {
  border-bottom: 1px solid #97fc9e;
}

.finded_words {
  border: 1px solid green;
  margin-top: 15px;
}
